<div class="container p-md-5">
    <div class="main">
        <ul>
            <li>
                <a href="www.facebook.com/imogiant.malope">
                    <i class="bi bi-facebook"></i>
                    Facebook
                </a>
            </li>
            <li>
                <a href="www.inst.com/imogiant.malope">
                    <i class="bi bi-instagram"></i>
                    Instagram
                </a>
            </li>
            <li>
                <a href="www.facebook.com/imogiant.malope">
                    <i class="bi bi-linkedIn"></i>
                    LinkedIn
                </a>
            </li>
        </ul>
    </div>
</div>

<app-menu></app-menu>