<!-- Contact 1 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center">Contact</h2>
                <p class="text-secondary mb-5 text-center">Hey There, Thank you for making an effort to get here, if you
                    would like me to get in touch, please leave your details.</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-12 col-lg-9">
                <div class="bg-white border rounded shadow-sm overflow-hidden">
                    <h1>Skills</h1>
                    <ul>
                        <li>
                            <strong>Java</strong>
                            <p>Intermediate proficiency</p>
                            <p>4 years experience</p>
                            <p>Corporate Industry</p>
                        </li>
                        <li>
                            <strong>python</strong>
                            <p>Beginner proficiency</p>
                            <p>4 months experience</p>
                            <p>Personal capacity</p>
                        </li>
                        <li>
                            <strong>C Sharp</strong>
                            <p>Beginner to Intermediate proficiency</p>
                            <p>2 years experience</p>
                            <p>Academic Context experience</p>
                        </li>
                        <li>
                            <strong>Angular</strong>
                            <p>Beginner proficiency</p>
                            <p>6 months experience</p>
                            <p>Personal capacity</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<app-nav></app-nav>