<section class="bg-light py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
            <h2 class="mb-4 display-5 text-center">Projects</h2>
            <p class="text-secondary mb-5 text-center">Here is a sneak peak into the kind of work I am able to do for you.</p>
            <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>    
    
    <div class="container">
        <div class="row">

            <!-- Kindly Share -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card text-center">
                    <div class="card-title">
                        <p>Kindly Share (NPO)</p>
                    </div>
                    <div class="card-body">
                        <div class="image">
                            <img src="../../assets/logo.jpeg" alt="Kindlyshare logo" width="50px" height="50px">
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="http://www.kindlyshare.co.za" target="_blank">View Website</a>
                    </div>
                </div>
            </div>

            <!-- Kindly Share -->
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-title">
                        <p>Kindly Share (NPO)</p>
                    </div>
                    <div class="card-body">
                        <div class="image">
                            <img src="../../assets/logo.jpeg" alt="Kindlyshare logo" width="50px" height="50px">
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="http://www.kindlyshare.co.za" target="_blank">View Website</a>
                    </div>
                </div>
            </div>

            <!-- Kindly Share -->
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-title">
                        <p>Kindly Share (NPO)</p>
                    </div>
                    <div class="card-body">
                        <div class="image">
                            <img src="../../assets/logo.jpeg" alt="Kindlyshare logo" width="50px" height="50px">
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="http://www.kindlyshare.co.za" target="_blank">View Website</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<app-nav></app-nav>