<div class="container">
    <article>
        <h1>First Project</h1>
        <pre>Kindlyshare.co.za</pre>
        <p>hello</p>
    </article>

    <div class="card">
        <div class="card-title">
            <p>Kindly Share (NPO)</p>
        </div>
        <div class="card-body">
            <div class="image">
                <img src="../../assets/logo.jpeg" alt="Kindlyshare logo" width="50px" height="50px">
            </div>
        </div>
        <div class="card-footer">
            <a href="http://www.kindlyshare.co.za" target="_blank">Visit Website</a>
        </div>
    </div>
</div>
<app-nav></app-nav>