<section class="pt-20 pb-32 bg-white overflow-hidden">
    <div class="container">
        <div class="text-center mw-lg mx-auto mb-20">
            <h2 class="fs-10 fw-semibold mb-4">First blog</h2>
            <p class="fs-17 text-dark">Here is the first blog post</p>
            <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
    </div>
    <div class="container p-xl-5">
        <code class="typewriter">A wise man once said<span class="blink">_</span></code>
        <blockquote>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nesciunt quam dolores, 
            magni dolorem et aperiam dicta repellendus iusto quisquam quae unde? Eaque, alias qui. 
            Eveniet corrupti nemo saepe quasi.
        </blockquote>
    </div>
</section>
<app-nav></app-nav>