<section class="pt-20 pb-32 bg-white overflow-hidden">
    <div class="container">
      <div class="text-center mw-lg mx-auto mb-20">
        <h2 class="fs-10 fw-semibold mb-4">My Development Blog</h2>
        <p class="fs-17 text-dark">Welcome to my development blog.</p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
      <div class="mw-7xl mx-auto">
        <div class="row g-16">
          <div class="col-12 col-md-4">
            <a [routerLink]="['/blog/post']">
              <div class="position-relative">
                <img class="w-100 mb-5 rounded-3" src="../../assets/blog/first-blog-post.jpeg" alt="First Blog Post">
                <h3 class="fs-17 fw-semibold lh-sm mb-4">Hi there and welcome to my Blog.</h3>
                <span class="d-inline-block fs-20 fw-semibold text-dark text-uppercase" style="letter-spacing: 1px">Koketso Malope . 2 min read</span>
              </div>
            </a>
          </div>
          <div class="col-12 col-md-4">
            <a [routerLink]="['/blog/post']">
              <div class="position-relative">
                <img class="w-100 mb-5 rounded-3" src="../../assets/blog/second-blog-post.jpeg" alt="Second Blog Post">
                <h3 class="fs-17 fw-semibold lh-sm mb-4">The truth about why I wanted to do this blog.</h3>
                <span class="d-inline-block fs-20 fw-semibold text-dark text-uppercase" style="letter-spacing: 1px">Koketso Malope . 4 min read</span>
              </div>
            </a>
          </div>
          <div class="col-12 col-md-4">
            <a [routerLink]="['/blog/post']">
              <div class="position-relative">
                <img class="w-100 mb-5 rounded-3" src="../../assets/blog/third-blog-post.jpeg" alt="Third Blog Post">
                <h3 class="fs-17 fw-semibold lh-sm mb-4">The most interesting thing I have come across while developing this blog.</h3>
                <span class="d-inline-block fs-20 fw-semibold text-dark text-uppercase" style="letter-spacing: 1px">Koketso Malope . 6 min read</span>
              </div>
            </a>
          </div>
        </div>
        <div class="row g-16">
          <div class="col-12 col-md-4">
            <a [routerLink]="['/blog/post']">
              <div class="position-relative">
                <img class="w-100 mb-5 rounded-3" src="../../assets/blog/first-blog-post.jpeg" alt="First Blog Post">
                <h3 class="fs-17 fw-semibold lh-sm mb-4">Hi there and welcome to my Blog.</h3>
                <span class="d-inline-block fs-20 fw-semibold text-dark text-uppercase" style="letter-spacing: 1px">Koketso Malope . 2 min read</span>
              </div>
            </a>
          </div>
          <div class="col-12 col-md-4">
            <a [routerLink]="['/blog/post']">
              <div class="position-relative">
                <img class="w-100 mb-5 rounded-3" src="../../assets/blog/third-blog-post.jpeg" alt="Third Blog Post">
                <h3 class="fs-17 fw-semibold lh-sm mb-4">The most interesting thing I have come across while developing this blog.</h3>
                <span class="d-inline-block fs-20 fw-semibold text-dark text-uppercase" style="letter-spacing: 1px">Koketso Malope . 6 min read</span>
              </div>
            </a>
          </div>
          <div class="col-12 col-md-4">
            <a [routerLink]="['/blog/post']">
              <div class="position-relative">
                <img class="w-100 mb-5 rounded-3" src="../../assets/blog/second-blog-post.jpeg" alt="Second Blog Post">
                <h3 class="fs-17 fw-semibold lh-sm mb-4">The truth about why I wanted to do this blog.</h3>
                <span class="d-inline-block fs-20 fw-semibold text-dark text-uppercase" style="letter-spacing: 1px">Koketso Malope . 4 min read</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
<app-nav></app-nav>