<div class="container-fluid p-5 bg-dark text-white text-center">
    <h1>My Learning Blog</h1>
    <p>Welcome to my blog to see how and what I have learnt as life continues!</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h3>Code Learning Journey</h3>
            <p>Discussing my journies with learning different programming languages</p>
            <p>A sneak peak into the tools and resources I use for learning new programming languages</p>
        </div>
        <div class="col-sm-4">
            <h3>Spoken Language Learning Journey</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p><button class="btn btn-default" (click)="openDialog()">Show Modal</button></p>
        </div>
        <div class="col-sm-4">
            <h3>Musical instrument learning Journey</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
</div>

<hr class="my-4">

<div class="container">
    <h2>Recently learnt how to...</h2>

    <button class="btn btn-default">Open Modal</button>
</div>

<app-nav></app-nav>