html, body, .main {
    height: 100vh;
    width: 100vw;
}

body, .main {
    background-color: linear-gradient(45deg, navy, darkblue, blue, royalblue, lightblue);
}

.main {
    // background: url(../../assets/colorful_landing.jpg);
    background: url(../../assets/KM_BG.png);
    background-color: blue;
    background-size: 100% 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    align-content: center;
    grid-template-columns: 25% 25%;
    grid-template-rows: 25% 25%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 15px;
    background-color: beige;
    text-align: center;
    opacity: .85;
}

.card:hover {
    box-shadow: 0 0 30px yellow;
}

.card:active, .card:focus {
    box-shadow: 0 0 30px red;
}