<div class="main">

    <div class="col-md-4">
        <div class="card">
            <p>Koketso Imogiant Malope</p>
            <p>Bsc Information Technology</p>
            <p>Software Engineer</p>
            <a class="btn btn-primary mb-2" href="https://bold.pro/my/koketso-malope" target="_blank">Bold Profile</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 p-4">
            <a [routerLink]="['/arsernal']">
                <div class="card">
                    <p>Arsernal</p>
                </div>
            </a>
        </div>
    
        <div class="col-md-4 p-4">
            <a [routerLink]="['/blog']">
                <div class="card">
                    <p>Blog</p>
                </div>
            </a>
        </div>
    
        <div class="col-md-4 p-4">
            <a [routerLink]="['/projects']">
                <div class="card">
                    <p>My Projects</p>
                </div>
            </a>
        </div>
    
        <div class="col-md-4 p-4">
            <a [routerLink]="['/bio']">
                <div class="card">
                    <p>Bio</p>
                </div>
            </a>
        </div>
    
        <div class="col-md-4 p-4">
            <a [routerLink]="['/practice']">
                <div class="card">
                    <p>Practice</p>
                </div>
            </a>
        </div>
    
        <div class="col-md-4 p-4">
            <a [routerLink]="['/social']">
                <div class="card">
                    <p>Social</p>
                </div>
            </a>
        </div>
    </div>
</div>