<div class="main">
    <div class="card">
        <p>Koketso Imogiant Malope</p>
        <p>Bsc Information Technology</p>
        <p>Full Stack Developer</p>
        <button class="btn btn-primary" onclick="document.location.href='../../assets/Koketso_Malope latest CV.pdf'" target="_blank">Download CV</button>
    </div>

    <a [routerLink]="['/arsernal']">
        <div class="card">
            <p>Arsernal</p>
        </div>
    </a>

    <a [routerLink]="['/blog']">
        <div class="card">
            <p>Blog</p>
        </div>
    </a>

    <a [routerLink]="['/projects']">
        <div class="card">
            <p>My Projects</p>
        </div>
    </a>

    <a [routerLink]="['/bio']">
        <div class="card">
            <p>Bio</p>
        </div>
    </a>

    <a [routerLink]="['/practice']">
        <div class="card">
            <p>Practice</p>
        </div>
    </a>

</div>