<div class="main">
    <div class="card">
        <p>Koketso Imogiant Malope</p>
        <p>Bsc Information Technology</p>
        <p>Software Engineer</p>
        <a class="btn btn-primary" href="https://bold.pro/my/koketso-malope/228" target="_blank">Bold Profile</a>
    </div>

    <a [routerLink]="['/arsernal']">
        <div class="card">
            <p>Arsernal</p>
        </div>
    </a>

    <a [routerLink]="['/blog']">
        <div class="card">
            <p>Blog</p>
        </div>
    </a>

    <a [routerLink]="['/projects']">
        <div class="card">
            <p>My Projects</p>
        </div>
    </a>

    <a [routerLink]="['/bio']">
        <div class="card">
            <p>Bio</p>
        </div>
    </a>

    <a [routerLink]="['/practice']">
        <div class="card">
            <p>Practice</p>
        </div>
    </a>

</div>